
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   
    margin: 0 auto;
    width: 1440px;
    
    /* height: 100vh; */
    position: relative;
}
header {
    position: absolute;
    top: 0;

    border: 1px solid rgba(255, 68, 0, 0.5);
    background: rgba(255, 68, 0, 0.726);
    width: 100%;
    height: 90px;

    display: flex;
   justify-content: space-between;
   -webkit-box-shadow: 0px 3px 5px 0px #012c33;
   box-shadow: 0px 3px 5px 0px #012c33;
    color: white;
}


.headerWraper {
    display: flex;
    justify-content: space-between;
    margin: 25px 117px 34px 120px;
    width: 100%;
    align-items: center;

}
.img1 {
    display: flex;
    gap: 6px;
    margin-top: 6px;
    letter-spacing: 0.3px;
    /* margin-left: 120px;
    margin-bottom: 34px; */
    }

.img1 img {
    width: 30px;
    height: 30px;
    
}

h1 { 
    font-family: "Magra", sans-serif;
    font-size: 31px;
    font-weight: 600;
    /* padding-left: 2px;
    margin-top: 25px;
    margin-bottom: 34px ; */
}

.headerMenu {
    display: flex;
    
    list-style-type: none;
    
    justify-content: space-between;
  
    width: 527px;
    height: 21px;
    font-family: "Red hat text";
    margin-top: 9px;
    margin-right: 8px;
}

.login {
    width: 103px;
    height: 41px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: 21px;
    letter-spacing: 1.5px;
    font-family: "Red Hat Text ", sans-serif;
    font-weight: 700;
    color: white;
    border-radius: 8px;
    background: #0D606F;
    border: #0D606F;


}

a {
    text-decoration: none;
    color:white;
}



.prewiew {
    
    height: 765px;
    
    display: flex;
    
    
    background-image: url(./assets/first_page.png);
    background-size: contain;
    color: white;
}


.block {
    display: flex;
    flex-direction: column;
    width: 892px;
    height: 422px;
    margin-top: 122px;
    margin-left: 120px;

}    
.explore {
    display: flex;
    width: 100%;
    
    font-family: "Aleo", serif ;
    font-weight: 700;
    font-size: 80px;
}

.receive {
    display: flex;

    font-family: "Aleo", serif;
    font-weight: 400;
    font-size: 20px;
    font-style: italic;
    /* letter-spacing: 0.1px; */
    margin-top: 33.3px;
    
}

.pannel {
    display: flex;
    flex-direction: row;
    width: 892px;
    height: 95px;
    border: white 1px solid;
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 13px;
    margin-top: 44px;
    align-items: center;
}

.question {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 59px;
    font-family: "Aleo", serif;
    color: #F2785C;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    margin-left: 41px;
    width: 100%;
    margin-right: 16px;
 }

 .start_planning {
    display: flex;
    justify-content: center;
    color: white;
    width: 228px;
    height: 59px;
    border: #0D606F 1px solid;
    background-color: #0D606F;
    border-radius: 8px;
    font-size: 22px;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 400;
    align-items: center;
    margin-left: 32.5px;
    padding-top: 3px;
    letter-spacing: 1.3px;
 }


 .steps {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 1440px;
     height: 200px;
     
 }

 .path {
     display: flex;
     justify-content: center;
     width: 100%;
     height: 150px ;
     
     color: #F2785C;
     font-family: "Red Hat Text", sans-serif;
     font-variant: normal;
     font-size: 40px;
     font-weight: 500;
     padding-top: 80px;
     padding-left: 16px;
 }

 .icons {
     display: flex;
     flex-direction: column;
    


 }

 .write {
     display: flex;
     flex-direction: row;
     /* justify-content: space-around; */
     font-family: "Aleo" sans-serif;
     font-weight: 400;
     font-size: 22px;
     width: 1440px;
     height: min-content;
     margin-top: 30px;
     

 }

 .ic {
     display: flex;
     flex-direction: row;
     width: 1440px;
     /* height: ; */
     
 }

 .block1 ,
 .block2 ,
 .block3
  {
     display: flex;
     width: 100px;
     height: 100px;
     border:1px solid #F2785C;
     border-radius: 15px;
     background-color: #F2785C;
     justify-content: center;
     align-items: center;
   
 }



 .bike {
     width: 52px;
     height: 46px;
     border: 1px solid #F2785C;
     background-color: #F2785C;
    
 }
  

 .calend {
     width: 54px;
     height: 54px;
     border: 1px solid #F2785C;
     background-color: #F2785C;
 
    }

 .fly {
     
     width: 63px;
     height: 46px;
     border: 1px solid #F2785C;
     background-color: #F2785C;
     
 }

 .block1 {
    margin-left: 223px;
    margin-top: 40px;
}
 


 .block2 {
    margin-left: 347px;
    margin-top: 40px;

 }

 .block3 {
    margin-left: 347px;
    margin-top: 42px;
 }

 .tellUs   {
     display: flex;
     margin-left: 146px;
 }


 .shareUs   {
     display: flex;
     margin-left: 220px;
     margin-top: -2px;


 }

 .recom    {
display: flex;
margin-left: 176px;
margin-top: -3px;

 }
 
.pop {
    display: flex;
    font-family: "Red Hat Text" , sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin-top: 225px;
    
}  

.destination {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  
}

.container_2 {
    width: 1440px;
    height: 870px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    margin-top: 46px;

}

.slider_wrapper {
    width: 100%;
    height:800px;
    background: white;
    overflow: hidden;
  
}

.slides_container  {
    display: flex;
    gap: 60px;
    height: 100%;
    width: auto;
    justify-content: center;
    align-items: center;
    transform: translateX(0%);
    transition: transform 1s;
   
}


.slider_item_1 ,
.slider_item_2 ,
.slider_item_3
 {
    flex-shrink: 0;
    width: 800px;
    height: 800px;
    display: flex;
    
    border-radius: 12px;
    font-family: "Red Hat Text";
    font-size: 32px;
    font-weight: 500;
    color: white;}
    


.slider_item_1   {
    background-image:url(./assets/full_see.png);
    
}


.Japan{
    margin-left: -1px;
    margin-top: 5px;
}

.USA {
    margin-top: 4px;
}


.slider_item_2 {
    background-image: url(./assets/japan.png);
    padding-top: 713px;
    padding-left: 16px;
}

.slider_item_3 {
    background-image: url(./assets/full_bridge.png);
    padding-top: 709px;
    padding-left: 15px;
}



.slider_controls   {
    display: flex;
    width: 1440px;
    height: 20px;
    justify-content: center;
    margin-top: -36px; 
    gap: 10px;
    
    
}



.control_item

{
    display: flex;
    width: 20px;
    height: 20px;
    border: 1px solid #f5a795;
    border-radius: 11px;
    background-color: #f5a795;
    cursor: pointer;
} 


.chosen_control {
    background: #F2785C;
    transition : all 1s;
}




.find_more   {
    display: flex;
    flex-direction: row-reverse;
    width: 228px;
    color: white;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 24px;
    height: 59px;
    border: 1px solid #0D606F;
    border-radius: 8px;
    background-color: #0D606F;
    margin-top: 15px; 
    justify-content: center;
    align-items: center;
    gap: 12px;
}


.stories {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Red Hat Text";
    font-size: 40px;
    font-weight: 500;
    color: #F2785C;
    margin-top: 81px;
}


.interesting_stories {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 1445px;
    height: 1271px;
    background: rgba(255, 255, 255, 0.626);
    
    z-index: 1;
    
   
}

.travel_stories {
    width: 1445px;
    height: 1333px;
    display: flex;
    position: relative;
    
    /* z-index: 1; */
    background-image: url(./assets/lake.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    margin-top: 39px;
   
}

.Thailand,
.Utach,
.mountains,
.longest_journey
{
    display: flex;
    flex-direction: row;
    height: 290px;
    width: 1445px;
    gap: 37px;
    margin-left: 116px;

}


.Thailand   {
    margin-top: 41px;
}
.about_Thailand {
    display: flex;
    flex-direction: column;
    width: 760px;
    height: 250px;
    
    
}

.title_Thai,
.title_canyonland,
.title_mountains,
.title_journey
{
    display: flex;
    width: 760px;
    height: 42px;
    font-family: "Aleo", sans-serif;
    font-size: 35px;
    font-weight: 400;
    color: #0D606F;
}


.th,
.U,
.M,
.J

{
    display: flex;
    flex-direction: column;
    font-family: "Aleo",sans-serif;
    color: #0D606F;
    font-size: 20px;
    font-weight: 400;
    margin-top: 23px;
    width: 760px;
}

.foto_Thai,
.foto_parc,
.foto_mountains,
.foto_road 
{
    width: 408px;
    height: 258px;
    border-radius: 8px;
}


.Utach,
.longest_journey
{
margin-top: -10px;
}

.mountains {
    margin-top: -11px;
}

.longest_journey {
    margin-left: 115px;
}


.button_see {
    display: flex;
    flex-direction: row-reverse;
    width: 230px;
    color: white;
    font-family: "Red Hat Text", sans-serif;
    font-weight: 500;
    font-size: 24px;
    height: 59px;
    border: 1px solid #0D606F;
    border-radius: 8px;
    background-color: #0D606F;
       
    justify-content: center;
    align-items: center;
    gap: 12px;
   margin-left: 608px;}

  .arrow_1 {
      margin-left: -6px;
  } 

footer {

display: flex;
flex-direction: row;
align-items: center;
position: absolute;
bottom: 0;
z-index: 3;
}




  .title_footer {
      display: flex;
     
      font-family: "Red Hat Text", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: white;
      margin-left: 590px;
      margin-top: -63px;
    
  }

  .twitter {
    margin-left: 30px;
    margin-top: -62px;
  }
    

  .youtube {
      display: flex;
      margin-left: 21px;
      margin-top: -66px;
  }
  .play {
      margin-left: -22px;
      margin-top: 7px;
  }
  .inst  {
      margin-left: 331px;
      margin-top: -61px;
  }